
.page {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right top, #c6c6f4, #c0baf2, #bbadee, #b99fea, #b891e4, #a897eb, #969cf1, #82a1f4, #65b6f3, #69c5e9, #87d1dc, #abdad4);
  }
  
  .sideBar {
    position: sticky;
    top: 0px;
    width: calc((100vw - 800px)*0.45);
    /*border-right: 1px solid rgb(63, 63, 63);*/
    color: white;
    height: 100vh;
  }
  
  .rightBar {
    position: sticky;
    top: 0px;
    width: calc((100vw - 800px)*0.55);
    /*border-left: 1px solid rgb(63, 63, 63);*/
    color: white;
    height: 100vh;
  }
  
  .mainWindow {
    width: 800px;
  }
  