.rightbarContent {
    padding: 25px;
    width: 80%;
  }
  
  .user {
    background-color: rgb(209, 206, 206);
    opacity: 0.8;
    border-radius: 25px;
    margin-top: 40px;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
    overflow: hidden;
  }
  .userContainer{
    background-color: rgb(244, 253, 253);
    border-radius: 25px;
    padding: 20px;
    color: gray;
  }
  