.siderContent{
    padding-top: 5px;
    padding-right: 20%;
    display: flex;
    flex-direction: column;
    height:40%;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 20px;
    background-color: darkgray;
}

.logo{
    width: 50px;
    height: 50px;
}

.buttonPost{
    background-color: blue;
    border-radius: 20px;
    border: none;
    width: 100%;
    height: 20%;
    padding-right: 70%;
    margin: 10px;
    display: flex;
    justify-items: center;
  }
  .writePost{
    margin-left: 80%;
    margin-bottom: 50%;
    margin-top: 30%;
    clear: both;
    display: inline-block;

    white-space: nowrap;
}

